*{padding:0; margin:0 auto; list-style:none; font-family: "맑은고딕"}
html,body{height: 100%}

/* body{width: 100%; height: 100%; background:#000; background-image:url("/image/bg.jpg");background-position:top center; background-repeat:no-repeat; z-index: 1;}
body::before{width: 100%; height: 100%; float:left;  background:#000; opacity: 0.7; content: ""; position: absolute; z-index: -100;} */

.ui-widget-overlay{background:#000}	
.ui-dialog{padding:0;}
.ui-dialog .ui-dialog-content{padding:0;}

.container{width:978px; position: relative;}

.bg{width:100%; height:100%; float:left; position:absolute; z-index:-3;  }
.bg::before{width: 100%; height: 100%; float:left;  background:#000; opacity: 0.7;  content: ""; position: absolute; z-index:2;}
.bg img{width:100%; height:100%; float:left; position: absolute;}
.bg img:nth-child(1){z-index:1;}

header .menu{width:100%;  padding:50px; position: relative; z-index: 3;}
header .menu ul{width:100%; height: 50px; text-align: center;  }
header .menu ul li{float:right; width:124px; height:50px; color:#fff;  line-height: 50px; margin-left:3%; position: relative; overflow: hidden; cursor: pointer; border:1px solid #fff;}
header .menu ul li::before{content: ""; width:100%; height: 5px; background:blue; float:left; position: absolute; top:0; left:-100%; transition: 0.4s; }
header .menu ul li::after{content: ""; width:100%; height: 5px; background:blue; float:left; position: absolute; bottom: 0; left:100%; transition: 0.4s; }

header .menu ul li:hover::before{content:"";  left:0px; }
header .menu ul li:hover::after{content:"";  left:0px; }

header .icon{width: 100%; float:left;}
header .icon a{text-decoration:none; color: inherit; float:left; }

header .search ul{margin-top:50px; float:right;}
header .search ul li{float:left;}
header .search ul li:nth-child(2){padding-left:15px;	}


/* index */
#search{ width:100%; height: 70%; float:left; position: relative; z-index:3;}
#search h1{ text-align: center; padding-top: 5%; color:#fff; font-weight: bold; font-size:46px;}
#search .searchmain{position:absolute;top:50%; left:50%; transform:translate(-50%,-50%);}
#search .searchmain>ul{ border:1px solid #999999; height: 32px; line-height: 28px;  width:500px; }
#search .searchmain>ul:hover{border-color:#0000ff;}
#search .searchmain ul li{float:left; }
#search .searchmain ul li input{border:none; margin-top: 1px; margin-left:1px;  width:390px; }
#search .searchmain ul li span{color:#fff; cursor:pointer; margin-left: 5px; }
#search .searchmain>ul li:nth-child(2) span{padding-left: 5px; padding-right: 10px; cursor:pointer; }
#search .searchmain>ul li:nth-child(3) span{border-left:1px solid #fff; padding-left: 5px;}

#search .sub_category ul{text-align: center;  display: none;}
#search .sub_category ul li{float:left; width: 20%; background:#fff; border:1px solid #000; border-radius:10px; margin-right: 10px; cursor:pointer; box-shadow:2px 2px rgba(0,0,0,0.5); transition: 0.4s; } 
#search .sub_category ul li:hover{background: #0000ff; color:#fff;}

.category{width:100%; height: 100%; float:left; position: relative; display:none; z-index:1111;}
.category ul{text-align:center;  padding: 0;}
.category ul li{width:33%; height: 250px; line-height: 250px; float:left; border:none; color:#fff; cursor:pointer; transition: 0.4s; position: relative;}
.category ul li img{width:100%; height:230px;}
.category ul li .sub_text{
	bottom: 0;
	width:100%;
	float:left;
	position: absolute;
	color:black;
	text-align: center;
	padding-bottom: 5px;
	background: #000;
	opacity: 0.8;
	color:#fff;
}


/* noticeboard */


#board{width:100%;float:left; position: relative; z-index: 3; }
#board .boardtitle{width:100%; height:50px; line-height: 50px; font-size:30px; font-weight:bold; text-align: center; background: #000; color:#fff;}
#board .noticeboard ul{float:left; margin:1%; border:3px solid #f9f9f9;  margin:0;}
#board .noticeboard ul li{text-align: center; font-size:24px; color:#000; padding:5px;}
#board .noticeboard ul li>img{width:300px; height: 200px;}
#board .noticeboard ul a{text-decoration: none; color: #fff;}
#board .noticeboard ul li:nth-child(3){font-weight: bold;}

#board .noticeboard ul li:nth-child(5){background:#96d4ce; color:#fff; cursor: pointer; position: relative; overflow: hidden; transition: 0.4s; padding: 0; }
#board .noticeboard ul li:nth-child(5) button{border:none; background:inherit; width: 100%; height: 100%; padding:5px;}
#board .noticeboard ul li:nth-child(5):hover{background: #000;}


.pagination{position: relative; left:50%; transform:translate(-50%,0);}

footer{  float:left;  z-index: 3;  bottom: 0; right:0; position: fixed;}
footer> .noticeboardsubmit{ padding:50px;   z-index: 3; margin-bottom: 30px;}
footer> .noticeboardsubmit>button{background:inherit; border:none; width: 124px; height: 50px; float:right; border:1px solid #000; color:#000;  position: relative; overflow: hidden;  cursor: pointer; }
footer> .noticeboardsubmit>button::before{content: ""; width:100%; height: 5px; background:blue; float:left; position: absolute; top:0; left:-100%; transition: 0.4s; }
footer> .noticeboardsubmit>button::after{content: ""; width:100%; height: 5px; background:blue; float:left; position: absolute; bottom: 0; left:100%; transition: 0.4s; }

footer> .noticeboardsubmit>button:hover::before{content:"";  left:0px; }
footer> .noticeboardsubmit>button:hover::after{content:"";  left:0px; }

/* Explanation */
#main{width:100%; height: 100%; float:left; padding:50px; position: relative;}
#main .mainimg{width:40%; float:left; height: 417px; margin-top:5px; margin-left:15px; background: #000; position: relative; overflow: hidden;}
#main .mainimg>img{width:100%; height: 417px; position: absolute; left:-100%;}
#main .mainimg>img:nth-child(1){ left: 0; top:0;}
#main .subimg{width:15%; float:left; height: 400px;position: relative; z-index: 100; overflow: hidden;}
#main .subimg ul{float:left; width:100%; position: absolute; }
#main .subimg ul li{ width: 100%; height: 100px; margin-top:5px;}
#main .subimg ul li img{width:90%; height:95px; cursor:pointer;} 
#main .subimg .up{width:100%; height: 4%; float:left; background: #000; position: absolute; top:0; display: none; cursor: pointer; opacity: 0.7; z-index: 3}
#main .subimg .down{width:100%; height: 4%; float:left; background: #000; position: absolute; bottom: 0; cursor: pointer; opacity: 0.7; z-index: 3; }

#main .mainEx{width:40%; height: 400px; float:right; margin-left: 3%; box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); }
#main .mainEx h1:nth-child(1){margin-top:60px;}
#main .mainEx h1{text-align: center;}
#main .mainEx ul{text-align: center;}
#main .mainEx button{width:124px; height: 50px; border:none; background:inherit; border:1px solid #000; transition: 0.4s;} 
#main .mainEx button:nth-child(5){margin-left:25%;}
#main .mainEx button:hover{background: #000; color:#fff;}
#main .content{width:100%; height: 500px; float:left ; margin-top:35px; overflow:scroll; box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); }
#main .content h1{text-align: center;}


/* board */

#mainboard{width:100%:float:left; position:relative;}
#mainboard form{margin-top:100px; width:100%; height: 100%;}
#mainboard form>ul{width:100%; }
#mainboard form>ul li{float:left; height: 50px; line-height: 50px;}
#mainboard form>ul li>input[type=text]{width:100%; height: 100%; border:none;}
#mainboard form>ul li:nth-child(2) input{width:50%; height:100%; float:left; border:none; text-align:center;}
#mainboard form ul li input[name=sale]{width:50%; height: 100%; flaot:left border:none; text-align:center;}
#mainboard form>ul li>input[type=number]{width:100%; height: 100%; border:none;}
#mainboard form>ul li>input[type=button]{width:50%; float:left; border-right:1px solid #18FFFF; }
#mainboard form>ul li span{width:50%; height100%; float:left; text-align:center}
#mainboard form>ul li:nth-child(odd){width:20%; text-align:center; background:#84FFFF; border:1px solid #18FFFF; font-weight: bold; }
#mainboard form>ul li:nth-child(even){width:80%;float:left; background:#fff; border:1px solid #18FFFF;}
#mainboard form>ul li:nth-child(13){background:#84FFFF; border-right:1px solid #18FFFF; height: 410px; line-height: 300px;}
#mainboard form>ul li:nth-child(14){border:none;}
#mainboard form>ul li textarea{width:100%; padding:0; float:right; height: 300px; border-left:1px solid #18FFFF; border-top:1px solid #18FFFF; border-right:1px solid #18FFFF;}
#mainboard .imgs{width:100%; height:150px; float:left;  }
#mainboard .imgs .imgbtn span{width:50%; float:left; line-height:97px; text-align:center; border-right:1px solid #18FFFF; background:#84FFFF; font-weight: bold;}
#mainboard .imgs .imgbtn{width:20%;float:left; height: 97px; border-left:1px solid #18FFFF; border-bottom:1px solid #18FFFF; background:#fff; }
#mainboard .imgs .imgbtn img{background: #FF0000; border:3px solid #ff0000; border-radius:20%; text-align:center; margin-left:10px; margin-top:10px;}
#mainboard .imgs ul{width:80%; float:left;  border-left:1px solid #18FFFF; border-right:1px solid #18FFFF; border-bottom:1px solid #18FFFF; border-top:1px solid #18FFFF; height:97px; overflow: scroll; background: #fff;}
#mainboard .imgs ul li{float:left}
#mainboard .submit{width:100%; float:left; text-align: center; }
#mainboard .submit input{width:180px; height:50px;   margin-top:30px; margin-bottom:30px;border:1px solid #000; background:inherit; color:#000; margin-left:15px; } 

.saledialog{display:none; width:100%; float:left}
.saledialog ul{width:100%; float:left ; text-align: center;}
.saledialog ul li{width:180px ;height:200px; line-height:200px; cursor:pointer; border:1px solid #fff; background:#000; color:#fff;float:left;  }


.bigcategory{width:	100%; height: 100%; float:left; position: relative; display:none;}
.bigcategory ul{text-align:center;  padding: 0;}
.bigcategory ul li{width:180px; height: 200px; line-height:200px; border:1px solid #fff;  float:left;  color:#fff; background:#000; cursor:pointer; }

/* memberup dialog */
.memberupdialog{display:none;}
#memberup{width:100%; height: 100%; float:left;  }
#memberup .memberupform{width:100%;float:left; padding:.5em 1em;} 
#memberup .memberupform form{width:100%; float:left}
#memberup .memberupform form ul{width:100%; float:left;}
#memberup .memberupform form ul li{float:left; border:none; height: 50px;}
#memberup .memberupform form ul li:nth-child(odd){width:20%; color:#FF8F00; border:1px solid #FF8F00; background:#FFD54F;
 text-align: center; line-height: 50px; }
#memberup .memberupform form ul li:nth-child(even){width:80%;}
#memberup .memberupform form ul li:nth-child(2) input{width:80%; border:none; border-left:1px solid #FF8F00; border-top:1px solid #FF8F00; border-bottom:1px solid #FF8F00; }
#memberup .memberupform form ul li input{width:100%;height: 100%;float:left; background:#FFD54F;  border:1px solid #FF8F00;}
#memberup .memberupform form ul li .check{width:20%; height: 100%; float:left; background:#FFD54F; border-right:1px solid #FF8F00; border-top:1px solid #FF8F00; border-bottom:1px solid #FF8F00 }
#memberup .memberupform .memberupsubmit{width:100%; float:left; text-align:center;}
#memberup .memberupform .memberupsubmit input{width:120px; height: 40px; background:#FFD54F; border:1px solid #FF8F00; color:#FF8F00; text-align: center;}

.dialogopacity{width:100%; height: 100%; display:none; background:rgba(0,0,0,0.5); z-index: 1000; top:0; left:0; position: fixed;}

/* login dialog */
.logindialog{display:none;}

#loginform{width:100%; height: 100%; float:left; position: relative;}
#loginform ul li:nth-child(1){margin-top:0;}
#loginform ul li:nth-child(2){margin-top:0;}
#loginform ul li{float:left; margin-top:20px;}
#loginform ul li:nth-child(odd){width:20%;}
#loginform ul li:nth-child(even){width:80%;}
#loginform ul li input{width:100%; height: 40px;}
#loginform .loginsubmit{width:100%; height:40px; float:left}
#loginform .loginsubmit input[type=submit]{width:100%; height: 100%;}


	
	








